<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      <a href="https://github.com/vinongo/hexo-theme-alberta" target="_blank">Alberta_forked</a> by <a href="http://jaychung.tw" target="_blank">vinongo</a>. Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>.
    </div>
  </div>
  <!-- 百度分析 -->
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?ede9edd3fefdedc633da52bd103c0903";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
</footer>